<div class="root">
    <div class="navbar has-background-dark">
        <div class="navbar-brand">
            <div class="navbar-item">
                <div class="app-name has-gradient-text"> kanban </div>
            </div>
        </div>  
    </div>

    <div class="board">
        <div class="board-bar">
            <div class="board-name"> Board Name </div>
        </div>

        <div class="board-wrapper">
            <div class="board-columns" cdkDropListGroup>
                <div class="board-column"
                    cdkDropList
                    #todoList="cdkDropList"
                    [cdkDropListData]="todo"
                    [cdkDropListConnectedTo]="[progressList, testingList, doneList]"
                    (cdkDropListDropped)="drop($event)"
                >
                    <div class="column-name">
                        To Do
                    </div>
                    <div class="tasks-container"> 
                        <div *ngFor="let item of todo">
                            <div class="task" *ngIf="item.length != 0" cdkDrag> 
                                {{item}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="board-column"
                    cdkDropList
                    #progressList="cdkDropList"
                    [cdkDropListData]="progress"
                    [cdkDropListConnectedTo]="[todoList, testingList, doneList]"
                    (cdkDropListDropped)="drop($event)"
                >
                    <div class="column-name">
                        In Progress
                    </div>
                    <div class="tasks-container" cdk> 
                        <div *ngFor="let item of progress">
                            <div class="task" *ngIf="item.length != 0" cdkDrag> 
                                {{item}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="board-column"
                    cdkDropList
                    #testingList="cdkDropList"
                    [cdkDropListData]="testing"
                    [cdkDropListConnectedTo]="[todoList, progressList, doneList]"
                    (cdkDropListDropped)="drop($event)"
                >
                    <div class="column-name">
                        Testing
                    </div>
                    <div class="tasks-container" cdkDrag> 
                        <div *ngFor="let item of testing">
                            <div class="task" *ngIf="item.length != 0" cdkDrag> 
                                {{item}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="board-column"
                    cdkDropList
                    #doneList="cdkDropList"
                    [cdkDropListData]="done"
                    [cdkDropListConnectedTo]="[todoList, progressList, testingList]"
                    (cdkDropListDropped)="drop($event)"
                >
                    <div class="column-name">
                        Done
                    </div>
                    <div class="tasks-container" cdk> 
                        <div *ngFor="let item of done">
                            <div class="task" *ngIf="item.length != 0" cdkDrag> 
                                {{item}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
